body {
	background-color: #9c9f84;
	margin: 0px;
	font-family: verdana, georgia, serif;
	font-size: 14px;
}

#header {
	background-color: #5c755e;
	margin: 10px;
	height: 90px;
	border-radius: 5px;
}

#navbar {
	background-color: #5c755e;
	margin: 10px;
	height: 35px;
	border-radius: 5px;
}

.main {
	background-color: #e5e4d7;
	border-radius: 5px;
	padding: 20px;
	font-size: 110%;
	/*  No fixed height or width, cause the main page is dynamic
		To fit the side bar with no conflict, we need to play round
		with margines
	*/
	margin-left: 10px;
	margin-right: 320px;
	/*  To get the correct margin:
	the width + padding-rihgt + padding-left + margin-rihgt + margin-left
	*/
	margin-top: 10px;
	margin-bottom: 10px;
}

h1 {
	font-size: 120%;
	color: #ce282e;
}

h2 {
	font-size: 120%;
	color: darkblue;	
}

.sideright {
	background-color: #e5e4d7;
	margin-left: 10px;
	margin-right: 10px;
	/* To make everything lined up the margin-top property of the side bar 
	is set to zero.
	This is because the side bar is a float element at it's margin is added
	with other elements not averaged.*/
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 20px;
	font-size: 105%;
	float: right; /*move to right*/
	width: 260px;
	/* 'clear' states that we want the floating elesments in a
	top down manner*/
	clear: right;
}

.imagesidebar {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 5px;
	float: right; /*move to right*/
	width: 300px;
	/* 'clear' states that we want the floating elesments in a
	top down manner*/
	clear: right;
}

